:root {
  font-size: calc(0.5em + 1vw);

  --clr-white: #ffffff;
  --clr-gray: #bdbdbd;
  --clr-light-gray: #e0e0e0;
  --clr-very-light-gray: #f2f2f2;
  --clr-mild-gray: #828282;
  --clr-dark-gray1: #4f4f4f;
  --clr-dark-gray2: #4e5150;
  --clr-very-dark-gray: #333333;
  --clr-orange: #f2994a;
}

* {
  font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  font-weight: 600;
  color: var(--clr-very-dark-gray);
  background-color: var(--clr-white);
}

img {
  max-width: 100%;
}
