:root {
  font-size: calc(0.5em + 1vw);

  --clr-black: #000000;
  --clr-white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1 {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: var(--clr-black);
  background-color: var(--clr-white);
}

body {
  line-height: 1.5;
}

img {
  max-width: 100%;
}
